:root {
  --main-font: "EliceDigitalBaeum_Bold";
  --main-font-size: 4.4rem;
  --main-color: rgb(0, 3, 84);
  --background-color: #f7f6f2;
}
@font-face {
  font-family: "EliceDigitalBaeum_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
div {
  display: flex;
  align-items: center;
  /* 수직 정렬 */
  flex-direction: row;
  /* default: row */
  justify-content: center;
  /* flex direction에 대해서 정렬방식 선택 */
}

.Boo {
  width: 300px;
  height: 300px;
}
.Country {
  border: solid 1px;
  width: 300px;
  height: 200px;
  margin: 10px;
}
.canvas {
  border: solid 2px;
}

.draw {
  color: #000543;
  font-size: 30px;
  font-weight: bold;
}

* {
  background-color: var(--background-color);
}

.selectCountry {
  color: #000543;
  font-size: 40px;
  font-weight: bold;
}

.select {
  margin: 20px;
  color: var(--main-color);
  font-size: var(--main-font-size);
  font-family: var(--main-font);
}

.Boo {
  border: 5px ridge skyblue;
  border-radius: 40px;
  margin: 4px;
}

.one:hover img {
  transform: scale(1.4);
  transition: transform 0.5s;
}

.two:hover:hover img {
  transform: scale(1.4);
  transition: transform 0.5s;
}

.three:hover img {
  transform: scale(1.4);
  transition: transform 0.5s;
}

.four:hover img {
  transform: scale(1.4);
  transition: transform 0.5s;
}

.five:hover img {
  transform: scale(1.4);
  transition: transform 0.5s;
}

.six:hover img {
  transform: scale(1.4);
  transition: transform 0.5s;
}
.btn {
  text-decoration: none;
  font-size: 1.25rem;
  margin: 1rem;
  font-family: var(--main-font);
  position: relative;
  padding: 20px 30px;
  text-align: center;
  width: 28rem;
  background-color: var(--main-color);
}

.btn-1 {
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-1::after {
  content: "";
  width: 1200px;
  height: 1000px;
  position: absolute;
  top: -40px;
  left: -300px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #000354 0%,
    #000354 50%,
    #000354 100%
  );
  z-index: -1;
  transition: transform 0.5s ease;
}

.btn-1:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 #c0c0c0, -10px 10px 25px 0 #c0c0c0;
}
