{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>나만의 BOO 만들기</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static './css/nickname.css' %}"
    />
  </head>

  <body >
    <div class="main--div">
      <img
        class="main-logo"
        src="{% static './images/mainllogp.png' %}"
        alt="logo"
        style="margin-top: 8rem;"
      />
    </div>
    <div class="main--div" style="margin-top: -2rem;">
      <div class="main-title">나만의 부를 꾸며보세요</div>
    </div>
    <div class="main--div main--form" style="margin-top: -10rem;">
      <form action="" method="POST" name="nickname-form">
        {% csrf_token %}
        <div class="wrapper">
          <div class="input-data">
            <input type="text" name="username" required />
            <div class="underline" onclick=""></div>
            <label>Nickname</label>
          </div>
        </div>
        <div
          class="btn btn-1"
          onclick="document.forms['nickname-form'].submit();"
        >
          GO
        </div>
        {% for message in messages %}
        <script type="text/javascript">
          alert('중복된 닉네임입니다. 다른 닉네임을 입력해주세요.');
        </script>
        {% endfor %}
      </form>
    </div>
  </body>
</html>
