<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>부 꾸미기</title>
    <link rel="stylesheet" type="text/css" href="./boodecorate.css" />
  </head>

  <body onload="showImage()">
    <div class="main-title">부 꾸미기</div>
    <div class="main-subtitle">이렇게 꾸며주세요</div>
    <div><img id="introImg" border="0" /></div>
    <div><img class="logo" src="./mainllogp.png" alt="logo" /></div>
    <!-- <button onclick = "location.href='index.html'">시작하기</button> -->
    <div class="btn btn-1">시작하기</div>
  </body>
  <script>
    var imgArray = new Array();
    imgArray[0] = "china.jpg";
    imgArray[1] = "india.jpg";
    imgArray[2] = "indonesia1.jpg";
    imgArray[3] = "spain.jpg";
    imgArray[4] = "japan.jpg";
    function showImage() {
      var imgNum = Math.round(Math.random() * 4);
      var objImg = document.getElementById("introImg");
      objImg.src = imgArray[imgNum];
    }
  </script>
</html>
