{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    나만의 BOO 만들기
  </title>
  <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
</head>

<body>
  <div class="select">Boo를 골라주세요</div>
  <div>
    <div class="one">
      <img class="Boo" src="{% static './images/Boo_inkyung.png' %}">
    </div>
    <div  class="two">
      <img class="Boo" src="{% static './images/Boo_minsol.png' %}">
    </div>
    <div class="three">
      <img class="Boo" src="{% static './images/Boo_woojin.png' %}">
    </div>
  </div>
    
  </div>
    <div>
      <div class="four">
        <img class="Boo" src="{% static './images/Boo_donghyun.png' %}">
      </div>
      <div  class="five">
        <img class="Boo" src="{% static './images/Boo_soobin.png' %}">
      </div>
      <div class="six">
        <img class="Boo" src="{% static './images/Boo_hwichawn.png' %}">
      </div>
    </div>

  <script type="text/javascript" src="{% static './js/float_boo.js' %}"></script>
</body>
</html>
